html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin:0 auto;
    width: 1080px;
}

#map {
    height: 600px;
    width: 100%;
}

.gm-fullscreen-control {
    display: none;
}

.footer-column {
    width: 33%;
    float: left;
    text-align: center;
}

.copyright {
    text-align: center;
}

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px) {
/* Styles */

    .wrapper {
        width: 100%;
        height: 100%;
    }

    #map {
        height: 100%;
        width: 100%;
    }

    .gm-bundled-control-on-bottom,
    .gm-style-mtc {
        display: none;
    }

    .top-bar {
        position: fixed;
        top: 0;
        height: 50px;
        background: white;
        z-index: 100;
        width: 100%;
    }
}
